<header>
  <div class="header-content">
    <div class="site-name">
      <a href="/">CSE Motors</a>
    </div>
    <div class="account-nav">
      <a href="/account">My Account</a>
    </div>
  </div>
</header>
